div{
    padding: 3%;
}

#col-1{
    width: 50%;
    float: left;
    height: 93vh;
    

    h2{
        font-size: 48px;
        font-weight: bold;
    }

    i{
        font-size: 48px;
    }

    h2+p{
        margin-top: 10px;
        margin-left: 60px;
    }
}
#col-2{
    width: 50%;
    float: left;
    height: 93vh;

    h1{
        text-align: center
    }
}

h1{
    font-size: 60px;
    font-weight: bold;
}
