<div>
    
</div>
<table class="table" *ngIf="history">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Hospital</th>
            <th scope="col"># of blood units</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of history">
            <td id="col1">{{entry.date}}</td>
            <td id="col2">{{entry.hospital}}</td>
            <td id="col3">{{entry.numOfBloodUnits}}</td>
        </tr>
    </tbody>
</table>

<div *ngIf="!history">
    <p>No Previous Donations Where Found!</p>
</div>