<nav class="navbar navbar-expand-lg bg-primary navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="">
        <img src="../../../assets/icon_large.png" width="45" height="45" class="d-inline-block align-top" alt="">
        <span id="title">{{title}}</span>
      </a>

    <i class="material-icons navbar-toggler" id="more" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
        (click)="isNavbarCollapsed = !isNavbarCollapsed">more_vert</i>

    <div class="collapse navbar-collapse" id="navbarNav" [collapse]="isNavbarCollapsed">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="login" (click)="collapse()">Login</a>
            </li>
        </ul>
    </div>
</nav>