<mat-card>
    <mat-card-header>
        <mat-card-title>Want to become a donor?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Register now and become a part of our wide network!.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="warn" routerLink="/register">Register</button>
    </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>Want to become a partner?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Are you a hospital who is interested in becoming a partner? Contact us now!
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="warn" routerLink="/contact-us">Contact us</button>
    </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>Don't Know Where To Donate?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <input class="form-control" type="text" placeholder="City Name">
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="warn">Search</button>
    </mat-card-actions>
</mat-card>