<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Want to become a donor?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Register now and become a part of our wide network!.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button routerLink="/register">Register</button>
    </mat-card-actions>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Want to become a partner?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Contact us now!
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button routerLink="/contact-us">Contact us</button>
    </mat-card-actions>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Don't Know Where To Donate?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Search Now!
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
    </mat-card-actions>
</mat-card>
