

<div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign In</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <span><fa name="facebook-square"></fa></span>
                        <span><fa name="google-plus-square"></fa></span>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><fa name="user"></fa></span>
                            </div>
                            <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="username">
                            
                        </div>
                    
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><fa name="key"></fa></span>
                            </div>
                            <input type="password" class="form-control" placeholder="password" name="password"  [(ngModel)]="password" >
                        </div>
                       
                        <div class="form-group">
                            <button class="btn float-right login_btn" (click) = "loginWithEmailAndPassword()">Login</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                       Come and join Us Now !
                    </div>
                  
                </div>
            </div>
        </div>